<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorld" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IHelloWorld" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/helloworld/basic" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloWorld" contract="HelloWorldServiceReference.IHelloWorld"
                name="BasicHttpBinding_IHelloWorld" />
            <endpoint address="net.tcp://localhost/helloworld" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IHelloWorld" contract="HelloWorldServiceReference.IHelloWorld"
                name="NetTcpBinding_IHelloWorld">
                <identity>
                    <userPrincipalName value="DESKTOP-NAFPSEM\wcarp" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>